/*Styling for enter new personnel page*/
body {
    letter-spacing: 1px;
  }
  
  .active {
    font-weight: bold;
  }
  
  .register-form {
    margin-top: 20px;
  }
  
  .form-details {
    margin-top: 20px;
  }
  
  .form-details > div {
    margin: 10px;
  }

 .btn-prime {
  border: solid 2px black;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  margin-top: 15px;
  max-width: 25%;
 }

 .letterStyle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}