/*Styling for card component*/

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-emphasis: none;
    text-decoration: none;
}

.test > div {
    margin: 15px;
    padding: 20px;   
}